main ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}
li {
    margin-bottom: 15px;
    

}

